* {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
      } 
        
      .navbar {
        margin-top: 17%;
      }
.width-menu2{
width: 30%;

        }
.color-menu{
  background-color: rgb(245, 182, 240);
  border-radius: 10px;
  height: 23%;
  
}
.header__menú{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 70%;
  align-items: center ;
  justify-self: center;
 
}
.header__logo{
  height: 30%;
  align-items: center;
  justify-self: center;
  
}

.header__logo img{
        
  margin: 0;
  padding: 0;
  width: auto;
  }
   .footer{
     grid-area: footer;
     display: flex;  
     justify-content: space-between;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    width: 100%;
    height: auto;
    margin-top: 10px;
    border: ridge rgb(170, 235, 242);
   }
    .footer__ubicacion{
       text-align: center;
    
     }
    .footer__iframe{
    width: 70%;
     height: auto;;
     text-align: right;
   }
   .footer__nosotros{
     width: 20%;
     text-align: center;
   }
 